 {% extends 'base.html' %}
	{% load static %}
 {% load socialaccount %}
{% block content %}



	<!-- Hero section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %} ">
		<div class="container">
			<h2>About us</h2>
		</div>
	</section>
	<!-- Hero section end -->

{% block socialmedia_links %}
	{% for icon in links %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}" ></i></a>
		</div>
	{% endfor %}
{% endblock socialmedia_links %}


 <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="login11" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>

                </div>
                <div class="modal-body">

                    <form id="loginform" method="post">
                        {% csrf_token %}
                        <div class="form-group">

                            {{mylogin.as_p}}

                            <small class="form-text text-muted">We'll never share your username with anyone else.</small>
                        </div>

                         <h4 id="next"></h4>
                        <a aria-label="Basic example" class="btn-group" role="group">
                            <a href="{% provider_login_url 'facebook'  %}">
                                <button class="btn btn-primary" type="button"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</button>
                            </a>
                            <a href="/accounts/google/login" id="google_login">
                                <button class="btn btn-danger" type="button"><i class="fa fa-google fa-fw"></i> Login with Google</button>
                            </a>
						</a>
                            <button class="btn btn-success" id="apple" name="" type="submit" value="login"><i class="fa fa-sign-in"></i> Login</button>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>

 <div class="container">

    <div class="modal fade" id="sign" role="dialog">
        <!--					<form class="modal-dialog">-->
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Signup</h4>
                    <button class="close" data-dismiss="modal" type="button">&times</button>

                </div>

                <div class="modal-body">

                    <form id="loginsubmit" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{myobj.as_p}}
                        </div>


                        <a aria-label="Basic example" class="btn-group" role="group">
                            <h4 id="now"></h4>
                            <button class="btn btn-danger" id="orange" name="" type="submit" value="login"><i class="fa fa-sign-in"></i>SignUp</button>
                        </a>
                    </form>


                </div>

            </div>


        </div>

    </div>
</div>









	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				{% for feature in feature %}
				<div class="col-lg-6 about-text">
					<h2>{{feature.heading}}</h2>
					<p>{{feature.text1 | safe}}</p>
<!--					<div class="site-btn">Read more</div>-->
				</div>
				{% endfor %}
				{% for feature in feature%}
				<div class="col-lg-6">
					<img src="{{ feature.image1.url}}" alt=" no result found">
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- About section end -->



	<section class="facts-section">
		<div class="facts-warp">
			<div class="container">
				<div class="row">
						{% for detail in aboutus %}
					<div class="col-lg-3 col-sm-6 fact-item">

						<div class="fact-icon">
							<img src="{{detail.image.url}}" alt=" no result found">
						</div>
						<h2>{{detail.numbers}}</h2>
						<p>{{detail.text}}</p>

					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>



	<!-- Newsletter section -->
	<section class="newsletter-section spad">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 nl-text">
					<h2>Subscribe to our newsletter</h2>
					<form class="newsletter-form" id="newsform">
						{{newsletter}}

						<span id="error"></span>
						<button class="site-btn" id="newssubmit">Subscribe</button>

					</form>
					{% for feature in feature%}
					<p>{{feature.text2 | safe}}</p>
					{% endfor %}
				</div>
				{% for feature in feature %}
				<div class="col-lg-6">
					<img class="nl-sp-img" src="{{ feature.image2.url }}" alt="">
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->
<script>
	$("#apple").click(function(e){-->
	e.preventDefault();
	$.ajax({
	url:"{% url 'login' %}",
	type:"post",
	datatype:"json",
	data:$("#loginform").serialize(),
	success:function(data)
		{
			if(data.status==1)
			{
	         document.getElementById("news").innerHTML = "signin successful!";
			window.location.replace("/")
			}
			else{
			 $("#loginform :input:not(input[type='hidden'],input[type='submit'])").each(function ()
                  {

                            var current = $(this).parent();
                            var current_name = $(this).attr('name');
                            $.each(data.key, function (index, value)
                            {
                             if (current_name == index)
                             {

                                   current.after("<div class='error'></div>");

                                   current.next().html(value);


                                    }
                                });
                              });


		}
		error:function()
		{
		 document.getElementById("next").innerHTML = "error!";
		}
});
});

</script>

 <script>
	$("#newssubmit").click(function(e){
	console.log($("#newsform").serialize());

	e.preventDefault();
	$.ajax({
	url:"/about/",
	type:"post",
	datatype:"json",
	data:$("#newsform").serialize(),

	success:function(data)
		{

			if(data.status==1)
			{

	         document.getElementById("error").innerHTML = "subscribed!!!";

			}
			else{


                 $("#newsform :input:not(input[type='hidden'],input[type='submit'])").each(function ()
                  {

                          var current = $(this).parent();
                            var current_name = $(this).attr('name');

                           $.each(data.status, function (index, value)
                           {
                           $('#error').html(value);

							 });
                             });
            }





		},
		error:function()
		{
		 alert("error");
		}
});
});

</script>




{% endblock %}

{% block socialmedia_footer %}
{% for icon in links %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}"><i class="{{icon.icon_name}}"></i></a>
		</div>
	{% endfor %}

{% endblock socialmedia_footer %}





