 {% extends 'base.html' %}
	{% load static %}
 {% load socialaccount %}
{% block content %}



	<!-- Hero section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %} ">
		<div class="container">
			<h2>About us</h2>
		</div>
	</section>
	<!-- Hero section end -->

{% block socialmedia_links %}
	{% for icon in links %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}" ></i></a>
		</div>
	{% endfor %}
{% endblock socialmedia_links %}


 <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="login11" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>

                </div>
                <div class="modal-body">

                    <form id="loginform" method="post">
                        {% csrf_token %}
                        <div class="form-group">

                            {{mylogin.as_p}}

                            <small class="form-text text-muted">We'll never share your username with anyone else.</small>
                        </div>

                         <h4 id="next"></h4>
                        <a aria-label="Basic example" class="btn-group" role="group">
                            <a href="{% provider_login_url 'facebook'  %}">
                                <button class="btn btn-primary" type="button"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</button>
                            </a>
                            <a href="/accounts/google/login" id="google_login">
                                <button class="btn btn-danger" type="button"><i class="fa fa-google fa-fw"></i> Login with Google</button>
                            </a>
						</a>
                            <button class="btn btn-success" id="apple" name="" type="submit" value="login"><i class="fa fa-sign-in"></i> Login</button>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>

 <div class="container">

    <div class="modal fade" id="sign" role="dialog">
        <!--					<form class="modal-dialog">-->
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Signup</h4>
                    <button class="close" data-dismiss="modal" type="button">&times</button>

                </div>

                <div class="modal-body">

                    <form id="loginsubmit" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{myobj.as_p}}
                        </div>


                        <a aria-label="Basic example" class="btn-group" role="group">
                            <h4 id="now"></h4>
                            <button class="btn btn-danger" id="orange" name="" type="submit" value="login"><i class="fa fa-sign-in"></i>SignUp</button>
                        </a>
                    </form>


                </div>

            </div>


        </div>

    </div>
</div>








	<!-- Search section -->
<!--	<div class="search-form-section">-->
<!--		<div class="sf-warp">-->
<!--			<div class="container">-->
<!--				<form class="big-search-form">-->
<!--					<select>-->
<!--						<option>All Recipes Categories</option>-->
<!--						<option>Pizza</option>-->
<!--						<option>Salads</option>-->
<!--						<option>Desserts</option>-->
<!--						<option>Side Dishes</option>-->
<!--					</select>-->
<!--					<select>-->
<!--						<option>All Ingredients</option>-->
<!--						<option>Breakfast</option>-->
<!--						<option>Lunch</option>-->
<!--						<option>Dinner</option>-->
<!--					</select>-->
<!--					<input type="text" placeholder="Search Receipies">-->
<!--					<button class="bsf-btn">Search</button>-->
<!--				</form>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->



	<!-- About section -->
	<section class="about-section spad">
		<div class="container">
			<div class="row">
				{% for feature in feature %}
				<div class="col-lg-6 about-text">
					<h2>{{feature.heading}}</h2>
					<p>{{feature.text1 | safe}}</p>
<!--					<div class="site-btn">Read more</div>-->
				</div>
				{% endfor %}
				{% for feature in feature%}
				<div class="col-lg-6">
					<img src="{{ feature.image1.url}}" alt=" no result found">
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- About section end -->



	<section class="facts-section">
		<div class="facts-warp">
			<div class="container">
				<div class="row">
						{% for detail in aboutus %}
					<div class="col-lg-3 col-sm-6 fact-item">

						<div class="fact-icon">
							<img src="{{detail.image.url}}" alt=" no result found">
						</div>
						<h2>{{detail.numbers}}</h2>
						<p>{{detail.text}}</p>

					</div>
					{% endfor %}
<!--					<div class="col-lg-3 col-sm-6 fact-item">-->
<!--						<div class="fact-icon">-->
<!--							<img src="{% static 'img/icon/2.png' %}" alt="">-->
<!--						</div>-->
<!--						<h2>25</h2>-->
<!--						<p>Wine pairings</p>-->
<!--					</div>-->
<!--					<div class="col-lg-3 col-sm-6 fact-item">-->
<!--						<div class="fact-icon">-->
<!--							<img src="{% static 'img/icon/3.png' %}" alt="">-->
<!--						</div>-->
<!--						<h2>471</h2>-->
<!--						<p>Meat receipies</p>-->
<!--					</div>-->
<!--					<div class="col-lg-3 col-sm-6 fact-item">-->
<!--						<div class="fact-icon">-->
<!--							<img src="{% static 'img/icon/4.png' %}" alt="">-->
<!--						</div>-->
<!--						<h2>326</h2>-->
<!--						<p>Desert receipies</p>-->
<!--					</div>-->
				</div>
			</div>
		</div>
	</section>



	<!-- Newsletter section -->
	<section class="newsletter-section spad">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 nl-text">
					<h2>Subscribe to our newsletter</h2>
					<form class="newsletter-form">
						<input type="text" placeholder="Your E-mail">
						<button class="site-btn">Subscribe</button>
					</form>
					{% for feature in feature%}
					<p>{{feature.text2 | safe}}</p>
					{% endfor %}
				</div>
				<div class="col-lg-6">
					<img class="nl-sp-img" src="{% static 'img/newslatter.png' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->
<script>
	$("#apple").click(function(e){
	e.preventDefault();
	$.ajax({
	url:"{% url 'login' %}",
	type:"post",
	datatype:"json",
	data:$("#loginform").serialize(),
	success:function(data)
		{
			if(data.val1==1)
			{
	         document.getElementById("next").innerHTML = "signin successful!";
			window.location.replace("/")
			}
			else if(data.val1==0)
			{
			 document.getElementById("next").innerHTML = "wrong username/password!";
			}
			else if(data.val1 ==5)
			{
			 document.getElementById("next").innerHTML = "empty fields not allowed!";
			}
		},
		error:function()
		{
		 document.getElementById("next").innerHTML = "error!";
		}
});
});

</script>




{% endblock %}

{% block socialmedia_footer %}
{% for icon in links %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}"><i class="{{icon.icon_name}}"></i></a>
		</div>
	{% endfor %}

{% endblock socialmedia_footer %}





