{% extends 'base.html' %}
	{% load static %}
{% block content %}
{% load socialaccount %}

	<!-- Hero section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>Contact</h2>
		</div>
	</section>
	<!-- Hero section end -->

 {% block socialmedia_links %}
                {% for icon in links %}
                       <div class="header-social">
                          <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}"></i></a>
		                </div>
	            {% endfor %}
        {% endblock socialmedia_links %}

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="login11" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>

                </div>
                <div class="modal-body">

                    <form id="loginform" method="post">
                        {% csrf_token %}
                        <div class="form-group">

                            {{mylogin.as_p}}

                            <small class="form-text text-muted">We'll never share your username with anyone else.</small>
                        </div>

                         <h4 id="next"></h4>
                        <a aria-label="Basic example" class="btn-group" role="group">
                            <a href="{% provider_login_url 'facebook'  %}">
                                <button class="btn btn-primary" type="button"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</button>
                            </a>
                            <a href="/accounts/google/login" id="google_login">
                                <button class="btn btn-danger" type="button"><i class="fa fa-google fa-fw"></i> Login with Google</button>
                            </a>
						</a>
                            <button class="btn btn-success" id="apple" name="" type="submit" value="login"><i class="fa fa-sign-in"></i> Login</button>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>

<div class="container">

    <div class="modal fade" id="sign" role="dialog">
        <!--					<form class="modal-dialog">-->
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Signup</h4>
                    <button class="close" data-dismiss="modal" type="button">&times</button>

                </div>

                <div class="modal-body">

                    <form id="loginsubmit" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{myobj.as_p}}
                        </div>


                        <a aria-label="Basic example" class="btn-group" role="group">
                            <h4 id="now"></h4>
                            <button class="btn btn-danger" id="orange" name="" type="submit" value="login"><i class="fa fa-sign-in"></i>SignUp</button>
                        </a>
                    </form>


                </div>

            </div>


        </div>

    </div>
</div>


	<section class="contact-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="contact-form-warp">
						<h4>Leave a comment</h4>
						<form class="contact-form" id="contactform" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Name" name="name" value="">
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="E-mail"name="email" value="" >
								</div>
								<div class="col-md-12">
									<input type="text" placeholder="Subject" name="subject" value="" id="msg">
									<textarea placeholder="Message"  name="message" value="" ></textarea>
									<h3 id="demo"> </h3>
									<button class="site-btn"   id="contactsubmit" >Send</button>


								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="contact-logo">
						<img src="{% static 'img/logo.png' %}" alt="">
					</div>
					<div class="contact-info">
						<ul class="ct-list">
							<li>
								<h6>Address:</h6>
								<p>481 Creekside Lane Avila</p>
								<p>Beach, CA 93424</p>
							</li>
							<li>
								<h6>Phone:</h6>
								<p>+53 345 7953 32453</p>
								<p>+53 345 7557 822112</p>
							</li>
							<li>
								<h6>Email:</h6>
								<p>yourmail@gmail.com</p>
							</li>
						</ul>

						<div class="contact-social">
								{% for icons in links%}
							<a href="{{icons.social_url}}" target="_blank" ><i class="{{icons.icon_name}}"></i></a>
<!--							<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--							<a href="#"><i class="fa fa-twitter"></i></a>-->
<!--							<a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--							<a href="#"><i class="fa fa-behance"></i></a>-->
<!--							<a href="#"><i class="fa fa-linkedin"></i></a>-->
								{% endfor %}
						</div>

					</div>
				</div>
			</div>
			<!-- map -->
			<div class="location-map" id="map-canvas"></div>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTIlluowDL-X4HbYQt3aDw_oi2JP0Krc"></script>
			<script src="{% static 'js/map.js' %}"></script>
		</div>
	</section>



<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTIlluowDL-X4HbYQt3aDw_oi2JP0Krc"></script>-->
<!--<script src="{% static 'js/map.js' %}"></script>-->

<script>
	$("#apple").click(function(e){
	e.preventDefault();
	$.ajax({
	url:"{% url 'login' %}",
	type:"post",
	datatype:"json",
	data:$("#loginform").serialize(),
	success:function(data)
		{
			if(data.val1==1)
			{
	         document.getElementById("next").innerHTML = "signin successful!";
			window.location.replace("/")
			}
			else if(data.val1==0)
			{
			 document.getElementById("next").innerHTML = "wrong username/password!";
			}
			else if(data.val1 ==5)
			{
			 document.getElementById("next").innerHTML = "empty fields not allowed!";
			}
		},
		error:function()
		{
		 document.getElementById("next").innerHTML = "error!";
		}
});
});

</script>




{% endblock %}

{% block socialmedia_footer %}
{% for link in links %}
	   <div class="header-social">
		  <a href="{{link.social_url}}" target="_blank"><i class="{{link.icon_name}}"></i></a>
		</div>
	{% endfor %}

{% endblock socialmedia_footer %}


	
