{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

        {% block socialmedia_links %}
                {% for icon in social_icons %}
                       <div class="header-social">
                          <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}"></i></a>
		                </div>
	            {% endfor %}
        {% endblock socialmedia_links %}

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="login11" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>

                </div>
                <div class="modal-body">

                    <form id="loginform" method="post">
                        {% csrf_token %}
                        <div class="form-group">

                            {{mylogin.as_p}}

                            <small class="form-text text-muted">We'll never share your username with anyone
                                else.</small>
                        </div>

                         <h4 id="next"></h4>
                        <a aria-label="Basic example" class="btn-group" role="group">
                            <a href="{% provider_login_url 'facebook'  %}">
                                <button class="btn btn-primary" type="button"><i class="fa fa-facebook fa-fw"></i> Login
                                    with Facebook
                                </button>
                            </a>
                            <a href="/accounts/google/login" id="google_login">
                                <button class="btn btn-danger" type="button"><i class="fa fa-google fa-fw"></i> Login with Google</button>
                            </a>
                            </a>
                            <button class="btn btn-success" id="apple" name="" type="submit" value="login"><i class="fa fa-sign-in"></i> Login</button>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>


<div class="container">

    <div class="modal fade" id="sign" role="dialog">
        <!--					<form class="modal-dialog">-->
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Signup</h4>
                    <button class="close" data-dismiss="modal" type="button">&times</button>

                </div>

                <div class="modal-body">

                    <form id="loginsubmit" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{myobj.as_p}}
                        </div>


                        <a aria-label="Basic example" class="btn-group" role="group">
                            <h4 id="now"></h4>
                            <button class="btn btn-danger" id="orange" name="" type="submit" value="login"><i class="fa fa-sign-in"></i>SignUp</button>
                        </a>
                    </form>


                </div>

            </div>


        </div>

    </div>
</div>


<!-- Header section end -->


<!-- Hero section -->
<section class="hero-section">

    <div class="hero-slider owl-carousel">
         {% for slides in slider %}
        <div class="hero-slide-item set-bg" data-setbg="{{slides.slider_image.url}}">

            <div class="hs-text">

                <h2 class="hs-title-1"><span>{{slides.slider_caption1}}</span></h2>
                <h2 class="hs-title-2"><span>{{slides.slider_caption2}}</span></h2>
                <h2 class="hs-title-3"><span>{{slides.slider_caption3}}</span></h2>
            </div>

        </div>
            {% endfor %}

    </div>

</section>
<!-- Hero section end -->


<!-- Add section end -->
<section class="add-section spad">
    <div class="container">
        <div class="add-warp">
            <div class="add-slider owl-carousel">
                <div class="as-item set-bg" data-setbg="{% static 'img/add/1.jpg' %}"></div>
                <div class="as-item set-bg" data-setbg="{% static 'img/add/2.jpg' %}"></div>
                <div class="as-item set-bg" data-setbg="{% static 'img/add/3.jpg' %}"></div>
            </div>
            <div class="row add-text-warp">
                <div class="col-lg-4 col-md-5 offset-lg-8 offset-md-7">
                    <div class="add-text text-white">
                        <div class="at-style"></div>
                        <h2>Amazing deserts</h2>
                        <ul>
                            <li>Easy to make</li>
                            <li>Step by Step Video Tutorial</li>
                            <li>Gluten Free</li>
                            <li>Healty Ingredients</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Add section end -->


<!-- Recipes section -->
<section class="recipes-section spad pt-0">
    <div class="container">
        <div class="section-title">
            <h2>Latest recipes</h2>
        </div>
        <div class="row">
            {% for i in query1 %}
            <div class="col-lg-4 col-md-6">


                <div class="recipe">


                    <img alt="" src="{{i.recipe_image.url}}">
                    <div class="recipe-info-warp">

                        <div class="recipe-info">
                            <h3>{{i.receipe_name}}</h3>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star is-fade"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {% endfor %}
        </div>


        <!-- Footer widgets section -->
        <section class="bottom-widgets-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 ftw-warp">
                        <div class="section-title">
                            <h3>Top rated recipes</h3>
                        </div>
                        <ul class="sp-recipes-list">
                                {% for rated in rate %}
                            <li>

                                <div class="rl-thumb set-bg" data-setbg="{{rated.image.url}}"></div>
                                <div class="rl-info">
                                    <span>March 14, 2018</span>
                                    <h6>{{rated.receipe_name}}</h6>

                                    <div class="rating">
                                        {% with ''|center:rated.avg as range %}
                                        {% for _ in range %}
                                             <i class="fa fa-star"></i>
                                        {% endfor %}
                                        {% endwith %}




<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->

                                    </div>
                                </div>

                            </li>
                                     {% endfor %}
                            </ul>
                    </div>

<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/2.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>French Onion Soup</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/3.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>Homemade pasta</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/4.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>Onion Soup Gratinee</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/4.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>Feta Cheese Burgers</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->

<!--                    <div class="col-lg-4 col-md-6 ftw-warp">-->
<!--                        <div class="section-title">-->
<!--                            <h3>Most liked recipes</h3>-->
<!--                        </div>-->
<!--                        <ul class="sp-recipes-list">-->
<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/6.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>Traditional Food</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/7.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>Baked Salmon</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/8.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>Deep Fried Fish</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/9.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>Raw Tomato Soup</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="rl-thumb set-bg" data-setbg="{% static 'img/thumb/10.jpg' %}"></div>-->
<!--                                <div class="rl-info">-->
<!--                                    <span>March 14, 2018</span>-->
<!--                                    <h6>Vegan Food</h6>-->
<!--                                    <div class="rating">-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star"></i>-->
<!--                                        <i class="fa fa-star is-fade"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4">-->
<!--                        <div class="sp-blog-item">-->
<!--                            <div class="blog-thubm">-->
<!--                                <img alt="" src="img/blog/1.jpg">-->
<!--                                <div class="blog-date">-->
<!--                                    <span>May 04, 2018</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="blog-text">-->
<!--                                <h5>Italian restaurant Review</h5>-->
<!--                                <span>By Maria Williams</span>-->
<!--                                <p>Donec quam felis, ultricies nec, pellente sque eu, pretium quis, sem. Nulla conseq-->
<!--                                    uat massa quis enim. </p>-->
<!--                                <a class="comment" href="#">2 Comments</a>-->
<!--                                <a class="readmore" href="#"><i class="fa fa-angle-right"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </section>
        <!-- Footer widgets section end -->


        <!-- Review section end -->

        <div class="review-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 offset-lg-0 offset-md-2">
                        <div class="review-item">
                            <div class="review-thumb set-bg" data-setbg="{% static 'img/thumb/11.jpg' %}">
                                <div class="review-date">
                                    <span>May 04, 2018</span>
                                </div>
                            </div>
                            <div class="review-text">
                                <span>March 14, 2018</span>
                                <h6>Feta Cheese Burgers</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star is-fade"></i>
                                </div>
                                <div class="author-meta">
                                    <div class="author-pic set-bg" data-setbg="{% static 'img/author.jpg' %}"></div>
                                    <p>By Janice Smith</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 offset-lg-0 offset-md-2">
                        <div class="review-item">
                            <div class="review-thumb set-bg" data-setbg="{% static 'img/thumb/12.jpg' %}">
                                <div class="review-date">
                                    <span>May 04, 2018</span>
                                </div>
                            </div>
                            <div class="review-text">
                                <span>March 14, 2018</span>
                                <h6>Mozarella Pasta</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star is-fade"></i>
                                </div>
                                <div class="author-meta">
                                    <div class="author-pic set-bg" data-setbg="{% static 'img/author.jpg' %}"></div>
                                    <p>By Janice Smith</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Review sec<tion end -->

<!-- Gallery section -->
<div class="gallery">

    <div class="gallery-slider owl-carousel">
        {% for img in footerimg %}
       <div class="gs-item set-bg" data-setbg="{{img.image.url}}"></div>
        {% endfor %}
    </div>

</div>




<script>
	$("#apple").click(function(e){
	e.preventDefault();
	$.ajax({
	url:"{% url 'login' %}",
	type:"post",
	datatype:"json",
	data:$("#loginform").serialize(),
	success:function(data)
		{
			if(data.val1==1)
			{
	         document.getElementById("next").innerHTML = "signin successful!";
			window.location.replace("/")
			}
			else if(data.val1==0)
			{
			 document.getElementById("next").innerHTML = "wrong username/password!";
			}
			else if(data.val1 ==5)
			{
			 document.getElementById("next").innerHTML = "empty fields not allowed!";
			}
		},
		error:function()
		{
		 document.getElementById("next").innerHTML = "error!";
		}
});
});

</script>
{% endblock %}

  {% block socialmedia_footer %}
{% for icon in social_icons %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}"></i></a>
		</div>
	{% endfor %}

{% endblock socialmedia_footer %}

