{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

 {% block content %}


<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>Recipe</h2>
		</div>
	</section>

{% block socialmedia_links %}
	{% for icon in social_icons %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}" ></i></a>
		</div>
	{% endfor %}
{% endblock socialmedia_links %}

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="login11" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>

                </div>
                <div class="modal-body">

                    <form id="loginform" method="post">
                        {% csrf_token %}
                        <div class="form-group">

                            {{mylogin.as_p}}

                            <small class="form-text text-muted">We'll never share your username with anyone else.</small>
                        </div>

                         <h4 id="next"></h4>
                        <a aria-label="Basic example" class="btn-group" role="group">
                            <a href="{% provider_login_url 'facebook'  %}">
                                <button class="btn btn-primary" type="button"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</button>
                            </a>
                            <a href="/accounts/google/login" id="google_login">
                                <button class="btn btn-danger" type="button"><i class="fa fa-google fa-fw"></i> Login with Google</button>
                            </a>
						</a>
                            <button class="btn btn-success" id="apple" name="" type="submit" value="login"><i class="fa fa-sign-in"></i> Login</button>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>


<div class="container">

    <div class="modal fade" id="sign" role="dialog">
        <!--					<form class="modal-dialog">-->
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Signup</h4>
                    <button class="close" data-dismiss="modal" type="button">&times</button>

                </div>

                <div class="modal-body">

                    <form id="loginsubmit" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{myobj.as_p}}
                        </div>


                        <a aria-label="Basic example" class="btn-group" role="group">
                            <h4 id="now"></h4>
                            <button class="btn btn-danger" id="orange" name="" type="submit" value="login"><i class="fa fa-sign-in"></i>SignUp</button>
                        </a>
                    </form>


                </div>

            </div>


        </div>

    </div>
</div>








	<!-- Search section -->
	<div class="search-form-section">
		<div class="sf-warp">

			<div class="container">

				<form class="big-search-form" action="{% url 'list' %}" method="post" id="recipe_form">
					{% csrf_token %}
					<select name="type">
						<option selected="selected"></option>

						<option value="breakfast">breakfast</option>
						<option value="lunch">lunch</option>
						<option value="dinner">dinner</option>

					</select>

					<select name="category">

						{% for item in categories %}
						<option selected="selected"></option>
						<option>{{item}}</option>
							{% endfor %}

					</select>

					<input type="text" placeholder="Search Receipies" name="name", value="">
					<button class="bsf-btn" id="recipe_submit">Search</button>
				</form>

			</div>

		</div>
	</div>



	<!-- Recipes section -->

	<section class="recipes-page spad">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="section-title">
						<h2>RECEIPES</h2>
					</div>
				</div>

				<div class="col-md-4">
					<div class="recipe-view">
						<i class="fa fa-bars"></i>
						<i class="fa fa-th active"></i>
					</div>
				</div>
			</div>
			<div class="row">


				{% if  recipes %}
					{% for image in recipes  %}
				<div class="col-lg-4 col-md-6">

					<div class="recipe">
						<a href="{% url 'details' image.pk %}"> <img src="{{image.recipe_image.url}}" alt=""></a>
						<div class="recipe-info-warp">
							<div class="recipe-info">


								<a href="{% url 'details' image.pk %}">{{image.receipe_name}}</a>


							<div class="rating">



								{% for rated in rate %}
								{% if   rated.receipe_name in image.receipe_name  %}

									{% with ''|center:rated.avg as range %}
                                        {% for _ in range %}
                                             <i class="fa fa-star"></i>
                                        {% endfor %}
                                        {% endwith %}

								{% else %}

									{% endif %}
								{% endfor %}



								</div>

							</div>
						</div>
					</div>

				</div>
				{% endfor %}

			{% else %}
				<h2>Search result not found</h2>
				{% endif %}

			</div>

			<div class="site-pagination">

				{% if recipes.has_other_pages %}
				  <ul class="pagination">
					{% if recipes.has_previous %}
					  <li><a href="?page={{ recipes.previous_page_number }}">&laquo;</a></li>
					{% else %}
					  <li class="disabled"><span>&laquo;</span></li>
					{% endif %}
					{% for i in recipes.paginator.page_range %}
					  {% if recipes.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					  {% else %}
						<li><a href="?page={{ i }}">{{ i }}</a></li>
					  {% endif %}
					{% endfor %}
					{% if recipes.has_next %}
					  <li><a href="?page={{ recipes.next_page_number }}">&raquo;</a></li>
					{% else %}
					  <li class="disabled"><span>&raquo;</span></li>
					{% endif %}
				  </ul>
				{% endif %}




			</div>
		</div>
	</section>

<script>
	$("#apple").click(function(e){
	e.preventDefault();
	$.ajax({
	url:"{% url 'login' %}",
	type:"post",
	datatype:"json",
	data:$("#loginform").serialize(),
	success:function(data)
		{
			if(data.val1==1)
			{
	         document.getElementById("next").innerHTML = "signin successful!";
			window.location.replace("/")
			}
			else if(data.val1==0)
			{
			 document.getElementById("next").innerHTML = "wrong username/password!";
			}
			else if(data.val1 ==5)
			{
			 document.getElementById("next").innerHTML = "empty fields not allowed!";
			}
		},
		error:function()
		{
		 document.getElementById("next").innerHTML = "error!";
		}
});
});

</script>





	{% endblock %}

 {% block socialmedia_footer %}
{% for icon in social_icons %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}"></i></a>
		</div>
	{% endfor %}

{% endblock socialmedia_footer %}
