{% extends 'base.html' %}
{% load static %}
 {% block content %}

	<!-- Hero section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>Recipe</h2>
		</div>
	</section>



<!--<div class="container">-->
<!--    		<div class="header-social">-->
<!--						{% for icon in icon %}-->
<!--                    <a href="{{icon.social_url}}"> <a href="/"><i class="{{icon.icon_name}}"></i></a> </a>-->

<!--					{% endfor %}-->
<!--                </div>-->
<!--			</div>-->

{% block socialmedia_links %}
	{% for icon in social_icons %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}"><i class="{{icon.icon_name}}"></i></a>
		</div>
	{% endfor %}
{% endblock socialmedia_links %}








	<!-- Hero section end -->


<!--	 Search section-->
	<div class="search-form-section">
		<div class="sf-warp">
			<div class="container">
				<form class="big-search-form">
					<select>
						<option>All Recipes Categories</option>
						<option>Pizza</option>
						<option>Salads</option>
						<option>Desserts</option>
						<option>Side Dishes</option>
					</select>
					<select>
						<option>All Ingredients</option>
						<option>Breakfast</option>
						<option>Lunch</option>
						<option>Dinner</option>
					</select>
					<input type="text" placeholder="Search Receipies">
					<button class="bsf-btn">Search</button>
				</form>
			</div>
		</div>
	</div>
<!--	 Search section end-->


	<!-- Recipe big view -->
	<div class="recipe-view-section">
		<div class="rv-warp set-bg" data-setbg="{{ view.recipe_image.url}}"></div>
	</div>

	<!-- Recipe details section -->
	<section class="recipe-details-section">
		<div class="container">
			<div class="recipe-meta">
				<div class="racipe-cata">
					<span>For Begginers</span>
				</div>
				<h2>{{view.receipe_name}}</h2>
				<div class="recipe-date">May 15, 2018</div>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star is-fade"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5">
					<div class="recipe-filter-warp">
						<div class="filter-top">
							<div class="filter-top-text">
								<p>Prep:{{view.prep_time}}</p>
								<p>Yields: 8 Servings</p>
							</div>
						</div>
						<!-- recipe filter form -->
						<div class="filter-form-warp">
							<h2>Ingredients</h2>
							{% for ing in view.food.all %}
							<form class="filter-form">
								<div class="check-warp">
									<input type="checkbox" >
									<label >{{ing.ingredients}}</label>
								</div>
								{% endfor %}

							</form>
						</div>
					</div>
				</div>

				<div class="col-lg-7">
					<ul class="recipe-info-list">
						<li>

							<p>{{view.step| safe}} </p>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Recipe details section end -->


	<!-- Comment section -->
	<section class="comment-section spad pt-0" >
		<div class="container">
			<h4>Leave a comment</h4>
			<form class="comment-form">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6">
						<input type="text" placeholder="Name" name="name" value="">
					</div>
					<div class="col-md-6">
						<input type="text" placeholder="E-mail" name="email" value="">
					</div>
					<div class="col-md-12">
						<input type="text" placeholder="Subject" name="subject" value="">
						<textarea placeholder="Message" name="message" value=""></textarea>
						<button class="site-btn" >Send</button>

					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- Comment section -->


	<!-- Gallery section -->
	<div class="gallery">
		<div class="gallery-slider owl-carousel">
			<div class="gs-item set-bg" data-setbg="img/instagram/1.jpg"></div>
			<div class="gs-item set-bg" data-setbg="img/instagram/2.jpg"></div>
			<div class="gs-item set-bg" data-setbg="img/instagram/3.jpg"></div>
			<div class="gs-item set-bg" data-setbg="img/instagram/4.jpg"></div>
			<div class="gs-item set-bg" data-setbg="img/instagram/5.jpg"></div>
			<div class="gs-item set-bg" data-setbg="img/instagram/6.jpg"></div>
		</div>
	</div>
	{% endblock %}

	<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/js/ckeditor/adapters/jquery.js"></script>
	<script type="text/javascript">


