{% extends 'base.html' %}
{% load static %}


 {% block content %}


<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg' %}">
		<div class="container">
			<h2>Recipe</h2>
		</div>
	</section>

{% block socialmedia_links %}
	{% for icon in social_icons %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}" ></i></a>
		</div>
	{% endfor %}
{% endblock socialmedia_links %}





	<!-- Search section -->
	<div class="search-form-section">
		<div class="sf-warp">
			<div class="container">
				<form class="big-search-form" action="{% url 'list' %}" method="post">
					{% csrf_token %}
					<select name="type">
						<option selected="selected"></option>

						<option value="breakfast">breakfast</option>
						<option value="lunch">lunch</option>
						<option value="dinner">dinner</option>

					</select>

					<select name="category">
						{% for items in recipes %}

						<option selected="selected"></option>
						<option>{{items.category}}</option>
						{% endfor %}

					</select>

					<input type="text" placeholder="Search Receipies" name="name", value="">
					<button class="bsf-btn">Search</button>
				</form>

			</div>
		</div>
	</div>



	<!-- Recipes section -->

	<section class="recipes-page spad">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="section-title">
						<h2>RECEIPES</h2>
					</div>
				</div>

				<div class="col-md-4">
					<div class="recipe-view">
						<i class="fa fa-bars"></i>
						<i class="fa fa-th active"></i>
					</div>
				</div>
			</div>
			<div class="row">
					{% for image in recipes  %}
				<div class="col-lg-4 col-md-6">

					<div class="recipe">
						<img src="{{image.recipe_image.url}}" alt="">
						<div class="recipe-info-warp">
							<div class="recipe-info">


								<a href="{% url 'details' image.pk %}">{{image.receipe_name}}</a>


							<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								     <i class="fa fa-star"></i>
									<i class="fa fa-star is-fade"></i>
								</div>
							</div>
						</div>
					</div>

				</div>
				{% endfor %}

			</div>
			<div class="site-pagination">

				{% if recipes.has_other_pages %}
				  <ul class="pagination">
					{% if recipes.has_previous %}
					  <li><a href="?page={{ recipes.previous_page_number }}">&laquo;</a></li>
					{% else %}
					  <li class="disabled"><span>&laquo;</span></li>
					{% endif %}
					{% for i in recipes.paginator.page_range %}
					  {% if recipes.number == i %}
						<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					  {% else %}
						<li><a href="?page={{ i }}">{{ i }}</a></li>
					  {% endif %}
					{% endfor %}
					{% if recipes.has_next %}
					  <li><a href="?page={{ recipes.next_page_number }}">&raquo;</a></li>
					{% else %}
					  <li class="disabled"><span>&raquo;</span></li>
					{% endif %}
				  </ul>
				{% endif %}




			</div>
		</div>
	</section>





	<!-- Gallery section -->
	<div class="gallery">
		<div class="gallery-slider owl-carousel">
			{% for img in footerimg %}
       			<div class="gs-item set-bg" data-setbg="{{img.image.url}}"></div>
       			 {% endfor %}
<!--			<div class="gs-item set-bg" data-setbg="{% static 'img/instagram/1.jpg' %}"></div>-->
<!--			<div class="gs-item set-bg" data-setbg="{% static 'img/instagram/2.jpg' %}"></div>-->
<!--			<div class="gs-item set-bg" data-setbg="{% static 'img/instagram/3.jpg' %}"></div>-->
<!--			<div class="gs-item set-bg" data-setbg="{% static 'img/instagram/4.jpg' %}"></div>-->
<!--			<div class="gs-item set-bg" data-setbg="{% static 'img/instagram/5.jpg' %}"></div>-->
<!--			<div class="gs-item set-bg" data-setbg="{% static 'img/instagram/6.jpg' %}"></div>-->
		</div>
	</div>
	<!-- Gallery section end -->


	{% endblock %}

 {% block socialmedia_footer %}
{% for icon in social_icons %}
	   <div class="header-social">
		  <a href="{{icon.social_url}}" target="_blank"><i class="{{icon.icon_name}}"></i></a>
		</div>
	{% endfor %}

{% endblock socialmedia_footer %}
